h1{
    text-align: center;
}

body {
    background-color: peachpuff;
    height: 400px;
    text-decoration: none;
}

form {
    text-align: center;
}

button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}